.card {
  /* background: rgb(85 108 214 / 10%); */
  /* background: rgb(85 108 214 / 5%); */
  /* background: rgb(35, 79, 109);
  background: linear-gradient(
    0deg,
    rgba(4, 69, 114, 0.5) 0%,
    rgba(4, 69, 114, 1) 100%
  ); */
  background-color: #e4e9fd;
  background-image: linear-gradient(
    to bottom right,
    #efab32 10%,
    #e4e9fd 10% 90%,
    /* #e4e9fd 50% 75%, #a683e3 66% 99%, */ #7bee63 90% 100%
  );
}
/* .card:hover {
  border: 5px;
} */
.left-margin-2 {
  padding-left: 20px;
}
.left-margin-4 {
  padding-left: 40px;
}
.display-6 {
  font-size: 30px;
}
.display-7 {
  font-size: 25px;
}
.display-3 {
  font-size: 15px;
}
.flip-card {
  background-color: transparent;
  /* width: 300px; */
  height: 350px;
  /* border: 1px solid #f1f1f1; */
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 10px;
  width: 200px;
  height: 350px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  min-width: 100%;
  /* left: 50%;
  height: 50%; */
}

.d-flex {
  justify-content: center;
  align-items: center;
  height: 350px;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #bbb;
  color: black;
  transform: rotateY(180deg);
}
.verticalline {
  border-left: 2px solid grey;
  height: 10px;
  position: absolute;
  left: 50%;
  height: 150px;
}

.cards {
  display: grid;
}

button {
  width: 40px;
  height: 20px;
  padding: 0px;
  margin: 0px;
  border: 1px solid black;
}
