<!-- <p>map works!</p> -->
<div class="container">
  <nav class="navbar navbar-expand-md p-0 effects bgStyle">
    <!-- <div class="d-flex w-100"> -->
    <!-- </div> -->
    <!-- <div class="w-100"> -->
    <div
      class="collapse navbar-collapse mb-2 mt-2 leftAlignment"
      id="navbarSupportedContent"
    >
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item active">
          <a class="nav-link india" routerLink="indiamap">India Map</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link world" routerLink="worldmap">World Map</a>
        </li>
      </ul>
      <!-- <form
        #state1="ngForm"
        class="form-inline"
        (ngSubmit)="stateName(state1.value)"
      >
        <div class="form-group singleLine">
          <input
            type="text"
            placeholder="Enter State name..."
            ngModel
            name="state"
            class="form-control forms"
          />
          <button class="btn btn-outline-dark bnt-success d-inline float-right">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div>
      </form> -->
      <!-- <div *ngIf="toShow"> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
