<nav class="navbar navbar-expand-md p-0 effects bgStyle">
  <!-- <div class="d-flex w-100"> -->
  <div class="navbar-header totalSize">
    <fa-icon [icon]="faVirus" size="2x"></fa-icon>
    <a class="navbar-brand colors covidSize" routerLink="cases">Covid-19</a>
    <!-- removed (click)="clearState()" from above anchor tag -->
  </div>
  <button
    class="navbar-toggler bg-dark"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- </div> -->
  <!-- <div class="w-100"> -->
  <div
    class="collapse navbar-collapse mb-2 mt-2 leftAlignment"
    id="navbarSupportedContent"
  >
    <!-- displayed when user logged in -->
    <ul class="nav navbar-nav navbar-right ms-auto" *ngIf="!val2">
      <li class="nav-item active">
        <a class="nav-link cases" routerLink="cases">Cases</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link vaccine" routerLink="vaccine">Vaccine</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link stats" routerLink="stats">Stats</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link maps" routerLink="map">Maps</a>
        <!--  -->
      </li>
      <li class="nav-item active">
        <a class="nav-link slot" routerLink="slotbooking">Book Slot</a>
      </li>
      <li class="nav-item active" *ngIf="!val">
        <a class="nav-link register" routerLink="register">Register</a>
      </li>
      <li class="nav-item active" *ngIf="!val">
        <a class="nav-link login" routerLink="login">Login</a>
      </li>
      <li class="nav-item active" *ngIf="val">
        <a class="nav-link dashboard" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item active" *ngIf="val">
        <a class="nav-link" routerLink="" (click)="logout()">Logout</a>
      </li>
    </ul>
    <!-- Displayed when admin logged in -->
    <ul class="nav navbar-nav navbar-right ms-auto" *ngIf="val2">
      <li class="nav-item active">
        <a class="nav-link adddata" routerLink="data">Data</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link admindashboard" routerLink="admindashboard"
          >Dashboard</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="" (click)="adminlogout()">Logout</a>
      </li>
    </ul>
    <!-- <div *ngIf="toShow">
        <form
          #state1="ngForm"
          class="form-inline"
          (ngSubmit)="stateName(state1.value)"
        > -->
    <!-- <div class="form-group singleLine">
          <input
            type="text"
            placeholder="Enter State name..."
            ngModel
            name="state"
            class="form-control forms"
          />
          <button class="btn btn-outline-dark bnt-success d-inline float-right">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </div> -->
    <!-- </form>
      </div> -->
  </div>
  <!-- </div> -->
</nav>
<!-- <div class="text-center display-4"> -->
<!-- Covid data in {{ statename["state"] ? statename["state"] : "India" }} -->
<!-- </div> -->
<router-outlet></router-outlet>
<!--  (parentFunction)="clearState2($event)" -->
