a {
  text-decoration: none;
}
.textbg {
  background-color: #adc178;
  color: #2a9d8f;
  font-size: 65px;
  /*
  f72585
  003566 
  */
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
  box-shadow: 0px 0px orange;
}
.textstyle {
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  border-radius: 0%;
}
.btn {
  border-radius: 45%;
}
